<div class="container">
  <h1>My tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <% if task.completed? %>
        <div>
          <input type="checkbox" name="checkbox"></input>
          <span><%= link_to task.title, task_path(task) %></span>
          <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
            <!-- <input class="far fa-trash-alt"></input> -->
          <% end %>
        </div>
      <% else %>
        <div>
          <input type="checkbox" name="checkbox"></input>
          <span><%= link_to task.title, task_path(task) %></span>
          <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>

          <% end %>
        </div>
      <% end %>
    <% end %>
  </ul>
  <div class="border-top">
    <div class="back-link">
      <input class="fas fa-plus"></input>
      <span><%= link_to "Add a new task", new_task_path %>
      </span>
    </div>
  </div>
</div>





















